.phrase-generator {
  @include screen--medium {
    text-align: center;
  }

  &__title {
    font-family: $type__family--serif;
    font-size: $type__size--medium;
    margin: 0 0 $page__gutters 0;

    @include screen--large {
      font-size: $type__size--large;
    }
  }

  &__lead-in {
    display: block;
  }

  &__word {
    &--prefix {}
    &--descriptor {}
    &--noun {
      display: block;

      @include screen--medium {
        display: initial;
      }
    }
  }

  &__separator {}

  &__randomize {
    @include button;

    background-color: black;
    color: white;
    margin-right: 1rem;

    &:hover {
      background-color: black;
    }
  }
}
