$color__white: #FFF;
$color__black: #000;

$page__width: 1000px;
$page__gutters: 4vw;

$type__family--sans: 'tablet-gothic';
$type__family--serif: 'ff-more-web-pro';

$type__size--small: 14px;
$type__size--base: 18px;
$type__size--medium: 24px;
$type__size--large: 48px;

$type__leading--base: 1.6;
